
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Sign up</title>
		<link rel="stylesheet" href="../css/login.css">
	
</head>
<body>
<div class="form-container">
	<p class="title">Sign Up</p>
	<form class="form" th:action = "@{/changePassword}"  method="POST">
	
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		<p th:if="${invalidUsername}">Invalid username</p>
		<p th:if="${invalidPassword}">Invalid passwords</p>
		<div class="input-group">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" placeholder="">
		</div>
		<div class="input-group">
			<label for="password">New Password</label>
			<input type="password" name="newPassword" id="newPassword" placeholder="">
			
		</div>
		<div class="input-group">
			<label for="password">Repeat New Password</label>
			<input type="password" name="repeatedNewPassword" id="repeatedNewPassword"  placeholder="">
			
		</div>
		
		<br><br>
		<button type = "submit" class="sign">Submit</button>
	</form>
	</div>
</body>
</html>
